@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
}

:root {
  --light-1: #f5f5dc;
  --light-2: #f0e68c;
  --light-3: #a5d4e7;
  --light-4: #faeace;
  --dark-1: rgb(17, 17, 17);
  --dark-2: #333;
  --dark-3: #ff4500;
  --dark-4: #8b0000;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

section h1,
section p {
  padding: 10px 20px;
  border-radius: 25px;
}

section h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

section p {
  font-size: 25px;
}

.section-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)),
    url('./images/bg1.jpg') no-repeat center;
  background-size: cover;
}

.section-1 h1,
.section-1 p {
  font-family: 'Fredericka the Great', serif;
  background-color: var(--dark-3);
  color: var(--light-1);
  letter-spacing: 2px;
}

.section-2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg2.jpg') no-repeat center;
  background-size: cover;
}

.section-2 h1,
.section-2 p {
  font-family: 'League Spartan', sans-serif;
  background-color: var(--light-3);
  color: var(--dark-2);
}

.section-3 { 
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg3.jpg') no-repeat center;
  background-size: cover;
}

.section-3 h1,
.section-3 p {
  font-family: 'Caveat', cursive;
  background-color: var(--light-4);
  color: var(--dark-4);
}

.section-4 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),  
    rgba(0, 0, 0, 0.7)),
    url('./images/bg4.jpg') no-repeat center;
  background-size: cover;
}

.section-4 h1,
.section-4 p {
  font-family: 'Cormorant Garamond', serif;
  
  background-color: var(--dark-1);
  color: var(--light-2);
}

.section-5 {  
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)),
    url('./images/bg5.jpg') no-repeat center;
  background-size: cover;
}

.section-5 .images {
  display: flex;
  gap: 40px;
}

.section-5 .images img {
  max-width: 350px;
}

section .animate {
  opacity: 0;
  filter: blur(5px);
  transition: 0.5s;
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0px);
}

footer {
  width: 100%;
  height: 100px;
  font-family: 'League Spartan', sans-serif;
  color: var(--dark-3);
  background-color: var(--dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  font-size: 25px;
}

.section-2 .animate {
  transform: translateX(100%);
}

.section-2.show-animate .animate {
  transform: translateX(0);
}