@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

:root {
  --light-1: #f5f5dc;
  --light-2: #f0e68c;
  --light-3: #a5d4e7;
  --light-4: #faeace;
  --light-5: #eee;
  --dark-1: #111;
  --dark-2: #333;
  --dark-3: #ff4500;
  --dark-4: #008080;
  --dark-5: #8b0000;
}